@import url('https://fonts.googleapis.com/css?family=Oxygen|Permanent+Marker&display=swap');

body {
  font-family: "Permanent Marker";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
}

canvas {
  background-color: black;
  max-width: 95vw;
  max-height: 95vh;
}
