@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

body {
  font-family: "Luckiest Guy";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

canvas {
  background-color: black;
  max-width: 95vw;
  max-height: 95vh;
}
