
body {
  font-family: "Permanent Marker";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
}

canvas {
  background-color: black;
  max-width: 95vw;
  max-height: 95vh;
  margin-right: 10px;
}

#box {
  display: flex;
  color: white;
  /* border: 3px solid red; */
  /* flex-direction: column; */
  /* justify-content: center; */
}

#levelName {
  display: flex;
  color: white;
  font-size: 14px;
}

#levelNumber {
  display: flex;
  color: white;
  font-size: 80px;
}

#numberOfLevels {
  display: flex;
  /* align-self: auto; */
  color: white;
  font-size: 28px;
}


